
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>菜鸟教程(runoob.com)</title>
    <style>
        h3
        {
            position:absolute;
            left:50px;
            top:50px;
            color:#FFF;
        }
        .div_test{
            width:500px;
            height:200px;
            background-color:#000;

        }
        .div_test2{
            width:300px;
            height:100px;
            float:right;
            background-color:green;
            position:relative;//相对定位
        }
    </style>
</head>

<body>
<div class="ddiv_test">
<!--    <div class="div_test2">-->
        <h3 class="div_test2">这是一个绝对定位了的标题</h3>
<!--    </div>-->
</div>
</body>

</html>
